@page
@model SpendingTracker_API.Pages.IndexModel
@{
}
<h1>Welcome to Spending Tracker API</h1>
<p>This is Spending Tracker API server.</p>
<p>The Spending Tracker app is a smaller prototype of the in-development Personal Financial Management App of Bui Minh Son</p>
<p>This prototype implemented features</p>
<ul>
    <li>User authentication and authorization via JWT</li>
    <li>CRUD operations for Transaction tracking</li>
</ul>
<p>Have a nice day <3</p>